# Auth
AUTH_SECRET=
SUS_OAUTH_CLIENT_ID=
SUS_OAUTH_CLIENT_SECRET=
SUS_OAUTH_ISSUER=https://saltouruguayserver.com

# Turso DB
TURSO_DATABASE_URL=libsql://
TURSO_AUTH_TOKEN=

# Football API
FOOTBALL_DATA_API_KEY=

# CRON
CRON_SECRET=
