---
import { AntelTVPlayer } from "./AntelTVPlayer.tsx";

interface Props {
  isAntelISP: boolean;
}

const { isAntelISP } = Astro.props;
---

{
  !isAntelISP ? (
    <div class="flex items-center justify-center h-full min-h-[200px]">
      <p class="text-sm text-white/40 font-mono">
        Partido en vivo solo disponible para usuarios de Antel
      </p>
    </div>
  ) : (
    <div class="relative w-full h-full bg-black">
      <AntelTVPlayer client:load />
    </div>
  )
}
